.App {
  text-align: center;
  min-height: 100vh;
  color: white;
  @apply bg-gray-900;
}

.link {
  color: #b318f0;
}

/* hide actual input */
/* https://stackoverflow.com/a/25825731 */
.file_loader {
  display: none;
}

.file_loader_button {
  @apply mx-4;
}

.filename {
  font-family: monospace;
}