@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-gray-900;
  @apply scrollbar-thin scrollbar-thumb-slate-700 scrollbar-track-slate-800;
  height: 100%;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
}

li {
  @apply px-1;
}

h3 {
  @apply font-bold;
  @apply text-sm;
  @apply text-left;
  @apply mb-2;
}

section {
  @apply px-6 py-4;
  @apply text-left;
  @apply scrollbar-thin scrollbar-thumb-slate-700 scrollbar-track-slate-800;
  @apply border border-gray-700 rounded-md;
  @apply mx-4 my-2;
  @apply self-start;
  @apply w-full;
}

label {
  @apply mr-2;
}

input {
  @apply px-1;
}

button {
  color: white;
  border-style: inset;
  border-radius: 3px;
  border-width: 1px;
  padding-top: 2px;
  padding-bottom: 3px;
  transition: background-color 0.1s ease-out;
  @apply px-6;
  @apply bg-indigo-900;
}

button:hover {
  background-color: #282c74;
}

button:active {
  background-color: #282c94;
}

.overlay {
  @apply bg-gray-700;
  @apply text-white text-lg text-center;
  @apply absolute left-0 right-0 top-0 m-auto;
  @apply w-64;
  @apply p-8;
  @apply rounded-md;
  transform: translateY(150%);
  @apply shadow-lg;
  @apply z-50;
}